<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">


	<context:annotation-config />

	<bean name="address2" class="com.examples.Autowiring.Address"
		p:city="Banglore" p:pincode="570002" />

	<bean name="address1" class="com.examples.Autowiring.Address"
		p:city="Mysore" p:pincode="570002" />

	<bean name="emp1" class="com.examples.Autowiring.Employee"
		p:id="08" p:name="Manoj" />
	<bean name="emp2" class="com.examples.Autowiring.Employee"
		p:id="07" p:name="Manohar" />



</beans>